name: Rust CI

on:
  push:
  pull_request:
    branches: ["main", "master"]
  
jobs:
  setup:
    name: Setup Environment
    runs-on: ubuntu-latest
    steps:
      - name: check
        run: which cargo || pwd
      #- name: Install Rust toolchain
      #  uses: dtolnay/rust-toolchain@stable

      #- name: Cache cargo dependencies
      #  uses: Swatinem/rust-cache@v2

  checks:
    name: Run checks, tests, and linting
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run cargo check
        run: cargo check --all-features

      - name: Run cargo test
        run: cargo test --all-features

#      - name: Run cargo clippy
#        run: cargo clippy --all-features -- -D warnings

  release:
    name: Build and Release Binaries
    if: startsWith(github.ref, 'refs/tags/v')
    needs: checks
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install musl tools
        run: sudo apt-get update && sudo apt-get install -y musl-tools

      - name: Install mingw-w64
        run: sudo apt-get install -y mingw-w64

      - name: Install Rust targets
        run: |
          rustup target add x86_64-unknown-linux-musl
          rustup target add x86_64-pc-windows-gnu

      - name: Build Linux static binary
        run: cargo build --release --target x86_64-unknown-linux-musl

      - name: Build Windows binary
        run: cargo build --release --target x86_64-pc-windows-gnu

      - name: Prepare artifacts
        run: |
          mkdir -p release
          cp target/x86_64-unknown-linux-musl/release/judim release/judim-linux-amd64
          cp target/x86_64-pc-windows-gnu/release/judim.exe release/judim-windows-amd64.exe

      - name: Get changelog entry
        id: changelog
        uses: mindsers/changelog-reader-action@v2
        with:
          version: ${{ github.ref_name }}

      - name: Upload release assets
        uses: softprops/action-gh-release@v1
        with:
          body: ${{ steps.changelog.outputs.changes }}
          files: |
            release/judim-linux-amd64
            release/judim-windows-amd64.exe
          fail_on_unmatched_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
